hyper::header::ContentType::json() should specify UTF-8

`hyper::header::ContentType::json()` creates the `Content-Type` string `application/json`. In order to get the web browser to interpret my json correctly, it should be `application/json; charset=utf-8`.

I can't replicate that problem. Could you tell what browser you're using, and what code you're using? 

Here's my test [gist](https://gist.github.com/Thomspoon/164e4f0cd8a9e15cb856212502cc9247), and I was using FireFox 55.0.3. 

Also, this issue doesn't seem to be directly related to Hyper itself noted [here](https://docs.rs/hyper/0.11/src/hyper/header/common/content_type.rs.html#62), but to the [mime](https://github.com/hyperium/mime) crate. However, I don't think Hyper should explicitly specify utf-8, since I believe the default already is: [RFC 4627 Section 3](https://tools.ietf.org/html/rfc4627).

JSON by [default is UTF-8](https://tools.ietf.org/html/rfc7158). Additionally, the registered media type with the IANA is [`application/json`](https://tools.ietf.org/html/rfc7158#section-11), with no charset parameters.