Support arbitrary status codes

While the spec goes up till status code 599, we should probably support arbitrary three-digit codes.

[This test](https://github.com/w3c/web-platform-tests/blob/master/XMLHttpRequest/status-error.htm) [fails now](http://build.servo.org/builders/mac1/builds/377/steps/shell_1/logs/stdio) because of it (I don't mind allowing that failure for now, but I'd like a solution where hyper doesn't outright reject the code).

Maybe we should just ask if they can fix their test? Just my 2 cents.
As I understand it a StatusCode higher thang 599 is just forbidden by all relevant specs.

Not exactly. The web platform specs don't forbid it explicitly; and this means that there will be apps out there using it. Well, it's the other way around probably -- webapps were using higher status codes and the specs have to be written such that the web isn't broken just because the specs are too strict.

So the test is correct; not something to be "fixed".

Ok, does anybody think that there are status codes out there greater 999 or smaller 100? In this case I would add the variants to the enum.

Not that I know of. Perhaps ask in #whatwg on freenode

I asked on #whatwg and @Ms2ger answered.

* XHR defines status codes as 16-bit attributes (unsigned :grinning: )
* HTTP/1.1 [RFC7231](https://svn.tools.ietf.org/svn/wg/httpbis/specs/rfc7231.html#status.codes) defines status codes as "three-digit integer code"
 * We were not sure if `042` is a "valid" status code
* [HTTP/2](https://http2.github.io/http2-spec/#HttpResponse) simply refers to HTTP/1.1 for a definition.

Welcome to the world of web specs. We hope you stay, but you probably should get out while you can :joy_cat: 

I think it is hopeless :joy_cat:

Two more interesting facts:
* Both Chromium and Firefox understand 42 and 1024
* Only Chromium understands 2147483647, firefox thinks it is 200

Who wants to test IE, Safari and Opera?

Ps, my experiment with using a newtype around u16 stalled. I wanted to keep
similar usage to the enum now, but can't have a mod and a struct with the
same name. Associated constants would be needed to finish that.

On Sun, Jan 25, 2015, 12:05 PM Pyfisch <notifications@github.com> wrote:

> I think it is hopeless [image: :joy_cat:]
>
> Two more interesting facts:
>
>    - Both Chromium and Firefox understand 42 and 1024
>    - Only Chromium understands 2147483647, firefox thinks it is 200
>
> Who wants to test IE, Safari and Opera?
>
> —
> Reply to this email directly or view it on GitHub
> <https://github.com/hyperium/hyper/issues/177#issuecomment-71389889>.
>

Would it be a serious performance bump, if we implemented StatusCodes like Methods? An enum for registered or well known status codes with an extension for unknown codes.

Not a serious one I guess, but something to be avoided.

I modified teepee status code handling to support arbitary status code like header methods: https://gist.github.com/pyfisch/cceae250981243c33c5e (I understand that this should be avoided, I just tried to understand teepee and the problem better).

As @seanmonstar noted "associated constants" are needed to not change the interface much if we use an u16. I do not think that they are even planned for the near future (Is this RFC somewhat related? https://github.com/rust-lang/rfcs/blob/091e5fabbbbd0419b8d291a6d1cd8e6e59c56deb/text/0195-associated-items.md).

So the only option left is to use a newtype `StatusCode(u16)` and to define aliases for common status codes like `static INFORMATIONAL: StatusCode = StatusCode(100);`. It would change the API but once after there are associated constants we can update the code.

Or is there another possibility?

We can actually "pretend" to be an enum, like so:

```
struct StatusCode(pub u16);

mod StatusCode {
  use super::StatusCode;
  pub static Ok: StatusCode = StatusCode(200);
  ....
}
```

[Demo](http://is.gd/hlY8xp)

I actually quite like @pyfisch's linked modification to the teepee status. I think it makes a lot of sense to lump all non-registered status codes together, rather than having a specific enum variant for all the unregistered codes.

I had a name conflict the last time I tried this, but maybe the language changed.

@reem Yeah, but it still makes the enum larger than it needs to be -- with my solution above you can have enum-like behavior as well as having a `u16` status code, though the matches won't be forced to be exhaustive on normal status codes anymore.

("This" is @Manishearth's pretend-enum.)

I was surprised too. But as you can see in the linked demo, it magically works! :)

I think we've blown the additional byte that @pyfisch's implementation requires way out of proportion :P. It's not going to make any difference at all in reality.

I know, but I still don't like it :package: 

(I have a tendency to overoptimize things that don't need it :stuck_out_tongue:)

I take responsibility as the first one to bring it up, but I've since realized I was being ridiculous.

@Manishearth try to `impl StatusCode` and everything goes to hell.

@pyfisch here's the [associated constants](https://github.com/rust-lang/rust/issues/17841) issue.

With the constants, I'd implement like so:

```
pub struct StatusCode(u16);
impl StatusCode {
    pub const Ok = StatusCode(200);
    // ...
}
```

Without that, I'm against the newtype, because it causes these issues:

- as a newtype, the registered codes must be in ALL_CAPS (to make the lint happy)
- if not all caps, the lint is trigger everywhere they are used
- mistyping one of the registered constants screws up matches
  
  ```rust
  match code {
      Ok => (), // triggers lint about wrong-capped constant
      MovedTemporaraly => (), // becomes catch-all, like _
  }
  ```
- **except** if you use them like enums currently
  
  ```rust
  match code {
      StatusCode::Ok => (), // lint is all happy
      StatusCode::MovedTemporaraly => (), // error as undefined value
  }
  ```

-------------

So, until associated constants are implemented, the `enum` with an `Unregistered(u16)` seems best.

@seanmonstar thanks for linking me the issue.

Since you both @reem and @seanmonstar support my attempt to improve status codes, I published the code that is based on teepee at https://github.com/pyfisch/hyperprotocol. I created it as a separate repo since we wanted to split hyper anyway, and it looks for me like a good time to begin with it.

Any suggestions for my header code?

@seanmonstar You proposed `Unregistered(u16)` as an extension variant name. I admit `UnregisteredStatusCode` is quite long, but it is like the name for methods https://github.com/pyfisch/hyperprotocol/blob/master/src/method.rs#L56. I think we may should change them both to `Unregistered`.

I just noticed this and would like to comment on it: I disagree with the premise and will fight for the status quo.

I am operating on RFC 7231’s definition of status-code which is more restrictive than the simple `3DIGIT` that the grammar definition in RFC 7230 gives:

>    The first digit of the status-code defines the class of response.
>    The last two digits do not have any categorization role.  There are
>    five values for the first digit:
>
>    o  1xx (Informational): …

Frankly, I’m not sure why it wasn’t defined in the grammar as `%x31-35 2DIGIT`, but the text provides further normative restrictions *which make 0xx and 6xx–9xx illegal*. This state, the grammar permitting something that the text then restricts as illegal, is not at all uncommon.

Similarly, when considering the registry at http://www.iana.org/assignments/http-status-codes/http-status-codes.xhtml, it is worth while bearing in mind that this is an *exhaustive registry*, unlike the HTTP method, where extension methods are explicitly supported. (This is, incidentally, a change from RFC 2616 which hardcoded the list of known status codes and added an `extension-code` rule, but that list of its has been obsolete for ages.)

I say it clearly and in direct disagreement with @Manishearth: *a test using status code 699 is illegal and is invoking undefined behaviour*. Those tests should be removed. There is clear evidence that while many (probably most, historically) things support values outside the range 100–599, some do not (I get the impression this is happening more and more for new things as security is considered more and more important, e.g. in Fetch), so it’s not as though we’re introducing an extra restriction that *no one* has done before by actually disallowing values outside the range permitted by the specifications.

If the alternative were as elegant or efficient as the current implementation, I would not mind too much about extending it to support illegal states, though I would still fight quietly against it. But as it is, with the language as it is there is no solution even half as good as the current one. I submit as a refresher [the article about status-line design that I wrote initially](http://chrismorgan.info/blog/teepee-design-status-line-take-two.html); there are a couple of notable changes in the world since then (RFC 723X superseding RFC 2616, and 1xx being made legal again in HTTP/2), and the Rust syntax has changed in places, but the contents of the article are still sound. Most notably for this discussion, using an enum with an extension code variant has severe backwards-compatibility problems.

When it comes to the web, one must permit more behavior than the spec constrains us to. The restrictions imposed on people designing webapps by the spec (namely, don't use weird status codes) are not the same as the restrictions for platforms implementing the spec. For example, while the HTML spec is rather specific as to how tags should be nested, the HTML parsing spec allows for all kinds of edge cases. It's in this spirit that this test was written (at least, it seems like it) -- a browser or other HTTP client should not choke on strange status codes.

If you look at the WPT tests, many of them are doing just that -- using illegal code to invoke edge cases and whatnot. It is unfortunate that they have to do that, but the web has evolved that way, and we have to live with it if we want to support random websites.

There is a macro-based option which should work if we want to support status codes >599 without losing efficiency, or the constants method (without the fake-enum).

Also, as platform implementors we must support behavior defined in the less stricter RFC anyway, so the 3 digit rule seems like a better one to implement.

Of note for the backwards compatibility problems is the extensible enums
RFC, which might be relevant here.
On Wed, Jan 28, 2015 at 8:48 PM Manish Goregaokar <notifications@github.com>
wrote:

> When it comes to the web, one must permit more behavior than the spec
> constrains us to. The restrictions imposed on people designing webapps by
> the spec (namely, don't use weird status codes) are not the same as the
> restrictions for platforms implementing the spec. For example, while the
> HTML spec is rather specific as to how tags should be nested, the HTML
> parsing spec allows for all kinds of edge cases. It's in this spirit that
> this test was written (at least, it seems like it) -- a browser or other
> HTTP client should not choke on strange status codes.
>
> If you look at the WPT tests, many of them are doing just that -- using
> illegal code to invoke edge cases and whatnot. It is unfortunate that they
> have to do that, but the web has evolved that way, and we have to live with
> it if we want to support random websites.
>
> There is a macro-based option which should work if we want to support
> status codes >599 without losing efficiency, or the constants method
> (without the fake-enum).
>
> Also, as platform implementors we must support behavior defined in the
> less stricter RFC anyway, so the 3 digit rule seems like a better one to
> implement.
>
> —
> Reply to this email directly or view it on GitHub
> <https://github.com/hyperium/hyper/issues/177#issuecomment-71954643>.
>

Should I create a PR for this? I think it is better to add support for all status codes now and not to wait.