Content-Encoding should not be a Vec of Encodings

It's even right in the docs of the `ContentEncoding` struct, the value is only ever allowed to be exactly `1#encoding`.

We should change to be `pub struct ContentEncoding(Encoding)`.

I was writing a pull-request for this issue, but I've discovered that this interpretation of the RFC is incorrect.

`1#encoding` actually means "a comma-separated list of `encoding` containing at least 1 element`.

The relevant material is in [Section 1.2 of the RFC which defines this header](https://tools.ietf.org/html/rfc7231#section-1.2):

> **1.2.  Syntax Notation**
>
> This specification uses the Augmented Backus-Naur Form (ABNF)
> notation of [RFC5234](https://tools.ietf.org/html/rfc5234) with a list extension, defined in Section 7 of
> [RFC7230](https://tools.ietf.org/html/rfc7230#section-7), that allows for compact definition of comma-separated
> lists using a '#' operator (similar to how the '*' operator indicates
> repetition).  Appendix C describes rules imported from other
> documents.  Appendix D shows the collected grammar with all list
> operators expanded to standard ABNF notation.

From [Section 7 of RFC7230](https://tools.ietf.org/html/rfc7230#section-7):

> **7.  ABNF List Extension: #rule**
>
> A #rule extension to the ABNF rules of [RFC5234] is used to improve
> readability in the definitions of some header field values.
>
> A construct "#" is defined, similar to "*", for defining
> comma-delimited lists of elements.  The full form is "\<n\>#\<m\>element"
> indicating at least \<n\> and at most \<m\> elements, each separated by a
> single comma (",") and optional whitespace (OWS).
>
> In any production that uses the list construct, a sender MUST NOT
> generate empty list elements.  In other words, a sender MUST generate
> lists that satisfy the following syntax:
>
>     1#element => element *( OWS "," OWS element )


Agh, `1#something` really means 1 or more? Interestingly, when I look in other clients, they seem to do absolute matches, like `if headers['accept-encoding'] === 'gzip'`, where as according to this, they should be checking in a possible comma-separated list?

Correct.

Well, OK. I suppose I can take comfort in knowing we match the spec more closely. Thanks for verifying, and sorry for sending down the wrong path.