Support necessary headers for Digest authentication

This is a feature that I'd like to contribute, if you agree and find it useful. Digest authentication is done in two parts: 1) WWW-Authenticate header in 401 "Unauthorized" response with a challenge including realm, domain, nonce, etc. 2) Authorization header in new request with username, response, and nonce etc.

The Digest schemes in WWW-Authenticate and Authorization headers have a few fields in common (namely: realm, nonce, algorithm, opaque), but I don't think that this is enough to make a shared Digest scheme that would be used by both headers.

There was an attempt at adding WWW-Authenticate in #178 but it was closed for inactivity, I could start from there. I would also add a Digest scheme in header/common/authorization.rs, ideally with a constructor that computes the "response" field based on the different fields (username, realm, password, etc.) Since this involves computing MD5 hashes, this would require an additional dependency for MD5 computation (rust-crypto probably).

PS: I know that there is a crate (hyper_auth) that implements Basic and Digest authentication. However, I believe that this crate exists simply because of the absence of the WWW-Authenticate header and Digest scheme in Authorization header.


Servo will need these, so we're in favour of them being available in hyper proper. 

They are common enough headers (especially `WWW-Authenticate`) that I would welcome these additions to `hyper::header`. I can also mentor the design.

---

Most of what you propose makes sense to me.

I'm hesitant to add a dependency on rust-crypto, not because I dislike the crate, but I believe it still needs an audit from cryptographers. MD5 is small and easily verifiable. And having a dependency on rust-crypto may encourage using other algorithms "since it's there". Alternatives include using the md5 hash that's in the openssl crate, which is already a dependency. There's also the https://crates.io/crates/md5, or even just embedding the algorithm directly in the `header::shared` module.

Or maybe @jdm would hit me over the head for suggesting that...

I don't really have any opinion on whether to embed md5 or not.

openssl is already a dependency, but it's optional, so I would go for the md5 crate instead. I'll start working on the headers this week-end. Question @seanmonstar from which branch do you prefer I start? I'm currently using `mio` for my framework.

Probably easiest to just branch from master, since this stuff shouldn't require any of the async changes. It'll be easier to merge into master, and I've been rebasing master into the mio branch frequently, so it'll end up there soon.

FYI, I've been working on HTTP Digest authentication [here](https://github.com/malept/guardhaus), partially as a way to learn Rust & its ecosystem. I have `Authorization` support fully implemented and part of `Authentication-Info`. I would be happy to contribute the implementation to hyper as a starting point, I just wasn't confident enough in doing so until I got enough time to figure out a good way to implement `WWW-Authenticate` in a similar manner to `Authorization` (I was aware of #178 when I started).

@malept Wow this seems a pretty thorough implementation of the digest scheme! Yes it looks like it would be a great starting point. How do we proceed? Are you willing to shape this so it can be integrated in Hyper with a PR? Should I work on WWW-Authenticate then?

> Are you willing to shape this so it can be integrated in Hyper with a PR?

Yeah, that was always the (eventual) goal.

> Should I work on WWW-Authenticate then?

Sounds good. I probably need to be involved in the Digest authentication part, since there's some shared code between the two headers and I want to make sure the (internal) API works for both.

https://tools.ietf.org/html/rfc7616 adds sha-256 and sha-512, and while MD5 is still supported it is not recommended (see paragraph 3.2).  So pulling in md5 might not be sufficient.  I notice @matt2xu code uses the crypto from openssl, IMHO is probably the most reasonable choice here.

Quick update: I've converted my digest authentication implementation to use crypto libraries that are bundled with the OS (namely, CryptoAPI on Windows and CommonCrypto on OS X) and threw that into [its own crate](https://crates.io/crates/crypto-hash) - so OpenSSL is now only a requirement for some operating systems. Hopefully this alleviates the dependency concerns.

So I finally started to work on WWW-Authenticate, and I was thinking about our discussion. Looking at the guardhaus crate by @malept, Digest authentication seems (a lot) more complicated than Basic, and it is probably better to implement it in its own crate, as is already the case. This has the advantage of not having to integrate too much code nor add dependencies to Hyper.

I like how Authorization is extensible using the Scheme trait, but the thing is that WWW-Authenticate can support many challenges in a single header (Basic and Digest being the two most well-known standard challenges).

The way I see it, I could implement the parsing of WWW-Authenticate as a list of challenges, each one with a scheme and the associated parameters (to be put in a hash map or something). Then the user of the library would implement conversion from a generic Challenge struct (rather than just a &str) to a specific one like Digest. Essentially the parsing step would probably rely on what from_comma_delimited does, just tailored for WWW-Authenticate to handle the special case of the scheme.

Then all that's needed is for a crate like guardhaus is to implement From<Challenge> for Digest for instance, and I could get a Digest from a WWW-Authenticate header. What do you think?

I don't mind if people want Digest authentication support inside Hyper or not. I think that's up to @seanmonstar.

> Digest authentication seems (a lot) more complicated than Basic

RFC 7616 is indeed complex :smile: 

My thoughts were to have a similar Scheme-like trait for WWW-Authenticate.

That is an interesting note about challenges. I think whatever wants to use WWW-Authenticate a layer up from Hyper needs to take into account both multiple challenges in a single `WWW-Authenticate` header, and multiple `WWW-Authenticate` headers.


Having Digest be its own crate seems nice for now. If the community wishes it were part of hyper, then it can be added easily enough.

It sounds like you (@matt2xu and @malept) seem to have a decent grasp on the problem. I've never actually used the `WWW-Authenticate` header myself (even though I work on the authentication part of FIrefox Accounts!), so I'd rather defer to you. 

I've started to implement the specification in a generic way [here](https://github.com/matt2xu/hyper/commit/38b3909a05737ca3fff629e81c181866f4e4d100), and to be honest I find it quite complicated. The grammar allows extraneous spaces and commas almost everywhere, and is ambiguous when you have a sequence comma, space, comma. The token production rules are not stateless: the string "x=" can be interpreted as "x" followed by "=" or a single token "x=" (used for base64 values); choosing the right one depends on what comes after the "=" sign.

To parse a challenge, I've implemented a different Scheme trait that takes the list of parameters that were parsed. @malept @seanmonstar could you give me some feedback on this?

  1. Should I keep going and finish the implementation this way, or
  1. do something simpler, like find the first item in the header that matches the name of the desired scheme, and let the Scheme implementation do the parsing?
  1. Another suggestion?

The advantage of the first method is that corner cases, like escape characters in quoted strings, would only need to be handled once rather than in each separate libraries. The advantage of the second approach is that implementors know how to parse their contents, for example the `from_str` method of `impl FromStr for Basic` in authorization.rs knows that the &str it is given is base64. For this to work we need to know where a scheme begins, which is still not trivial.

My half-serious suggestion is that I wish there was a Rust-based ABNF parser that we could use here :smile:

My real answer is: because of the way that the Authorization header is currently implemented, it's probably better if the WWW-Authenticate `Scheme` implementation handles parsing the `( token68 / #auth-param )` blob of text. I would personally rather have hyper parse all of it for me (I have an entire module in guardhaus dedicated to parsing/generating these parameters, and it's probably not complete), but I think it's much more important that both `Scheme` traits are similar in terms of how to implement them.

I'm almost there! Latest version [here](https://github.com/matt2xu/hyper/blob/e0759c408ccc475e5c2ce125efea28807085c84e/src/header/common/www_authenticate.rs). The one piece missing that I noticed just now is that it doesn't work for multiple parameters :sweat_smile: but that should be easy to fix. To make the code simpler, I have a pre-processing step that does split(',') + trimming + ignore empty strings (inspired from `from_comma_delimited`) without allocations. Then I map an entry to a sequence of tokens, and try to parse it as a challenge.

I added a ChallengeInfo enum of either a single Base64 token, or a Params of a vector of tuples. The Scheme trait now has a from_info that takes an optional challenge info to build a Challenge.

However, I think it should remain the responsibility of the Scheme implementation to format the header to a string. The reason is that schemes can have peculiar rules regarding what string to quote or not (looking at you Digest where realm, domain... "MUST" be quoted and stale, algorithm "MUST NOT" be quoted...).

Question: how do we create a WWW-Authenticate with several schemes? I'm thinking of how a server-side framework would generate it. Maybe WwwAuthenticate<S> should be an enum `Parsed(S)` or `Raw(String)`? Other ideas?

Are you just using the Basic scheme just as a testbed for the base64 token implementation? I ask because I got a little  confused reading that code - Basic authentication has a base64 token in the Authorization header, auth-params in the WWW-Authenticate header. Of the schemes in http://www.iana.org/assignments/http-authschemes/http-authschemes.xhtml, the only one I saw that uses a base64 token is https://tools.ietf.org/html/rfc4559#section-4.1.

Having read all three Digest RFCs, the quoting weirdness is due to backwards compatibility.

I'll post my thoughts on your recent changes later, I need some time to think about it.

> Are you just using the Basic scheme just as a testbed for the base64 token implementation?

Yes. The code is mostly just a copy/paste from authorization.rs, that's why the example uses a base64 token, and indeed it must seem a bit weird :confused: 

I was just reading [RFC 7617](https://tools.ietf.org/html/rfc7617) "The 'Basic' HTTP Authentication Scheme", I love the part where it says in Section 2 "See also Section 4.1 of [RFC7235], which discusses the complexity of parsing challenges properly." Well all I can say is that I am now quite aware of that complexity :grinning:

Good news! After some additional work today on the parser, I think it is now complete! As of commit [3ca2530](https://github.com/matt2xu/hyper/commit/3ca2530f8e5a078eba22eeb7be9027e3a90256a0) it handles correctly multiple parameters, commas in quoted strings, and multiple extra commas; things like `  ,,,  ,   Digest a=b   , ,,  ,c  =  d,Basic zzzzz==   ,   Digest x=y,z=w, qop="auth, auth-int"`

@malept did you have time to think about my implementation?

Maybe the easiest is that WwwAuthenticate just contain a String. It allows a server to easily add a challenge to a WWW-Authenticate header, for instance:

```rust
fn add_challenge(&mut self, challenge: &str) {
  if !self.inner.is_empty() {
    self.inner.push_str(", ");
  }
  self.inner.push_str(challenge);
}
```

To get the first Digest challenge, you could call: `www_auth.get_scheme::<Digest>()`.

```rust
fn get_scheme<S: Scheme>(&self) -> ::Result<S> {
  for challenge in parse_challenges(&self.inner) {
    let challenge = try!(challenge);
    let scheme = <S as Scheme>::scheme();
    if challenge.scheme() == scheme {
      // ... convert challenge to Scheme and return it.
    }
}
```

Note: this is just sample code to illustrate what I mean, I haven't compiled any of it. Also, add_challenge could just always add a ", " regardless of what's before since that's allowed by the spec, but it would look a bit weird.

We could either keep the Authorization header as it is today, or change it to use the updated Scheme trait and the parser from `www_authenticate.rs`.

@jdm @seanmonstar thoughts?

> However, I think it should remain the responsibility of the Scheme implementation to format the header to a string.

Agreed.

> Maybe `WwwAuthenticate<S>` should be an enum `Parsed(S)` or `Raw(String)`?

It looks like `Authorization<S>` supports both a `Scheme` and a `String` when you initialize it, without the use of an enum. It would be nice from an API consumer perspective to be able to add either via `add_challenge()`.

I'm not sure about your `get_scheme()` method. What if there are multiple Digest challenges and the first one uses an algorithm not yet supported by the implementation? (Example: if the WWW-Authenticate headers in the [RFC example](https://tools.ietf.org/html/rfc7616#section-3.9.1) were merged into one header.)

> Also, add_challenge could just always add a ", " regardless of what's before since that's allowed by the spec, but it would look a bit weird.

I wouldn't add a dangling comma, mostly because of the [robustness principle](https://en.wikipedia.org/wiki/Robustness_principle).

> We could either keep the Authorization header as it is today, or change it to use the updated Scheme trait and the parser from `www_authenticate.rs`.

I would be fine with updating guardhaus to use the new trait. (Assuming an appropriate version bump from hyper.)

> It looks like `Authorization<S>` supports both a `Scheme` and a `String` when you initialize it, without the use of an enum. It would be nice from an API consumer perspective to be able to add either via add_challenge().

Yes, that's because the `Scheme` trait is implemented for `String`, with a scheme that is `None`, so an Authorization<String> can always be created even for unknown schemes. This cannot be done so easily for WWW-Authenticate, because we can have several different challenges. You would need a signature like `WwwAuthenticate<S1: Scheme, S2: Scheme, ..., Sn: Scheme>(S1, S2, ...Sn)`, but that's obviously not possible; the closest thing would be something like `WwwAuthenticate(Vec<Box<Any + Scheme>>)`. This would allow us to downcast each entry to a concrete implementation (or to String).

If we declare `WwwAuthenticate(String)` instead, we would have a method like this:

```rust
fn iter_schemes<'a, S: Scheme>(header: &'a str) -> SchemeIter<'a, S>
```

Or to iterate over all challenges:

```rust
fn iter_challenges<'a>(header: &'a str) -> ChallengeIter<'a>
```

I like having a WwwAuthenticate just holding a String that is parsed on demand, rather than a vector of boxes. What do you prefer? Once we resolve this question, I'll make a pull request.

> I'm not sure about your `get_scheme()` method. What if there are multiple Digest challenges and the first one uses an algorithm not yet supported by the implementation?

Good catch. If the implementation does not support an algorithm, it would return `Err`; we could have `parse_header` skip errors until it finds an implementation that succeeds. That's still not ideal, because an implementation should select the best algorithm it supports, and that may not be the first. In fact, this would actually be an attack vector: have a malicious server return a Digest with algorithm=MD5 first knowing that the client implementation will just pick the first algorithm it can handle.

So that's a big no for `get_scheme` then!

> I wouldn't add a dangling comma, mostly because of the robustness principle.

Me neither, I'm aware of the robustness principle, I was just being sarcastic and mocking the spec a bit (again) :smile: 

> I would be fine with updating guardhaus to use the new trait. (Assuming an appropriate version bump from hyper.)

Great!

Any recent progress on this ?

The parser implementation is complete. The remaining work is to decide 1) what to store in a WwwAuthenticate structure: a String, a Vec of Challenge, something else?
2) how implementations can interpret a given scheme?

Note I am starting to think that it would be worth it to have a crate dedicated to HTTP auth digest support. I'd rewrite the parser with nom and have the parser produce a Vec <Challenge> (rather than an iterator of Challenge). Hyper could use that crate, as well as other HTTP client and server crates.

@matt2xu Is the idea to have the crate parse the WWW-Authenticate response header, and then have it create the correct Authenticate request header ?

@mattnenterprise yes. Kind of like guardhaus or hyper_auth do, but without depending on Hyper itself, since it only depends on the challenge information present in the header (and the authorization header uses the same data structure IIRC)

@matt2xu Guardhaus's HTTP digest implementation only relies on hyper for two things:

* header parsing
* the HTTP method enum

If those features were split out of hyper proper, I could use that, and then hyper would only be a build-time dependency (for the example apps).

@malept ok, so it looks like this is doable! I'll get started as soon as I'm back from holidays (beginning of January) and update this issue after that.

I've created a separate repository to host an http-auth crate and ported my parser to nom: see https://github.com/matt2xu/http-auth
@malept could you please take a look and tell me what you would like to see in the API ? Looking at guardhaus I notice that some parameters need to be quoted and some don't; I assume http-auth should make the difference between the two?

What is the status of this issue? Is anyone active on this issue? I need `WWW-Authenticate` header to use with `Authorization: Bearer`.

I no longer need this, but feel free to take the code. The parser passes the (limited) tests I had written, what would be needed would be to use this code (either as a separate crate or just copy/paste) and integrate it with Hyper.

Thank you for your reply. I'll try to implement this.

For now, the new version of hyper won't be including the typed headers directly, so I'm closing this here as a won't fix.