payload claims content-length

When I want to send partial content, at this situation, content-length may not equal body length.
And I got this error in debug mode:

```
"payload claims content-length of {}, custom content-length header claims {}"
```

Anyway can avoid this error? thanks.

The content-length header by definition contains the length of the entire body.

https://developer.mozilla.org/en-US/docs/Web/HTTP/Range_requests
```
Here the Content-Length header is also useful as it indicates the full size of the image to retrieve.
```

This first request return status 200 and the content length is means the whole file size, not current body size.

The text you quoted was talking about a response to a HEAD request. The example below it that actually returns a range says this: 

> The Content-Length header now indicates the size of the requested range (and not the full size of the image).

@sfackler When I want get a video from server, the first request is GET request. If I want use range to send this video, the first request will return status 200, and it's header content-length is the whole video size. Is this right?

The content-length header is always the exact size of the response body of the request. It does not matter if it is a range request or not.


@sfackler I have tested hosting video on nginx,  the first get request's content length is the whole video length. If content-length is exact size, how the browser to know this video is not finished and it need to get the reset parts?

![image](https://user-images.githubusercontent.com/5874864/77018242-d283b500-69b7-11ea-9d24-cad9b2b991b2.png)


That screenshot isn't enough to say exactly what is going on, but the the HTTP2 spec is extremely clear about what content-length means:

> A request or response that includes a payload body can include a content-length header field. A request or response is also malformed if the value of a content-length header field does not equal the sum of the DATA frame payload lengths that form the body. A response that is defined to have no payload, as described in [RFC7230], Section 3.3.2, can have a non-zero content-length header field, even though no content is included in DATA frames.

https://http2.github.io/http2-spec/#rfc.section.8.1.2.6

The Mozilla documentation page you linked above discusses how a client can discover if a server supports range queries, and how large the resource is.

@sfackler thanks you explain!