A way to send a request without the `:authority` pseudo-header?

`:authority` is optional in an HTTP/2 request, and the spec has this tidbit:

> To ensure that the HTTP/1.1 request line can be reproduced accurately, this pseudo-header field MUST be omitted when translating from an HTTP/1.1 request that has a request target in origin or asterisk form (see [RFC7230], Section 5.3).

However, using `hyper::client::Client` there's no way to make such a request. It can be done using `hyper::client::conn` but then I can't make use of the high-level client's ALPN/connection pooling support.

[RFC7230]: https://tools.ietf.org/html/rfc7230

Makes sense. Which kind of request are you trying to send?

Just a normal post request, but the backend (for bad reasons) currently doesn't work if `:authority` is provided.

(FWIW I realized that my actual problem is solved as long as I don't pass the `Host` header explicitly in the request. The feature request is still technically valid but I don't need it any more)

That's peculiar! Was the server complaining about both headers existing? Perhaps assuming that if there is a `host`, it's from HTTP/1.1, and so shouldn't have had an `:authority` header too. (Though, there is still a case where that translation would make sense, if the request were in HTTP/1.1 absolute-form, since they still include a host header...)

I'm not entirely sure why it didn't like it, it only returned a cryptic 404.