Streaming echo server is very slow

Hi,

I am testing the echo.rs from examples and it seems that when I post a 60KB file into /echo it takes more than 1 second. The same request to /echo/reversed takes 5 milliseconds.

`> time curl -i -v "http://127.0.0.1:3000/echo" -XPOST --data-binary @test.html
0.000u 0.006s 0:01.00 0.0%      0+0k 0+1io 0pf+0w`

With buffering:
`> time curl -i -v "http://127.0.0.1:3000/echo/reversed" -XPOST --data-binary @test.html
0.000u 0.005s 0:00.00 0.0%       0+0k 0+1io 0pf+0w`

I'm using:
rustc 1.44.0
hyper = "0.13"

Is there any reason for this?

Thanks!

It seems to be related to Expect: 100-continue client header curl sets and waits for HTTP/1.1 100 Continue before it starts sending the file contents.

Is hyper dealing with 100 continue?

Thanks!

It is supposed to send 100 Continue responses. It does wait until the user tries to poll the request body. Since the echo server sends a response immediately, before polling the body, the 100 Continue cannot be sent afterwards. Though, curl could consider that the body is accepted if the response is a 200.

Yes, that's because in the reversed case, it has to poll the request body before it can return a `Response`. In the streaming examples, it returns a `Response` before polling the body.

The relevant spec is in [RFC 7231 Section 5.1.1](https://tools.ietf.org/html/rfc7231#section-5.1.1).

Relevant:

> A server that responds with a final status code before reading the
      entire message body SHOULD indicate in that response whether it
      intends to close the connection or continue reading and discarding
      the request message.

Which hyper does by not sending `Connection: close`. curl *could* use that to realize it doesn't need to keep waiting 1 second, since once it receives the `200 OK`, it is now *impossible* to receive a `100 Continue`.

Makes sense, thanks!

So we can consider this as a bug in curl client and not something to do with hyper.

Possibly. curl *could* chose to change its behavior. But the echo server can also be changed slightly, to poll for a chunk of the body first, before responding. This would send a `100 Continue`. 🤷 