Todo list of standard, permanent HTTP headers

I noticed when making my reverse proxy that the `Forwarded` header is not implemented, along with a bunch of others. So here's a list of 'permanent HTTP headers with a status of standard' on [IANA's list](https://www.iana.org/assignments/message-headers/message-headers.xhtml), as of 2017-06-28:

- [x] Accept: [<a href="http://www.iana.org/go/rfc7231">RFC7231, Section 5.3.2</a>]
- [x] Accept-Charset: [<a href="http://www.iana.org/go/rfc7231">RFC7231, Section 5.3.3</a>]
- [x] Accept-Encoding: [<a href="http://www.iana.org/go/rfc7231">RFC7231, Section 5.3.4</a>][<a href="http://www.iana.org/go/rfc7694">RFC7694, Section 3</a>]
- [x] Accept-Language: [<a href="http://www.iana.org/go/rfc7231">RFC7231, Section 5.3.5</a>]
- [ ] Accept-Post: [<a href="https://www.w3.org/TR/ldp/">https://www.w3.org/TR/ldp/</a>]
- [x] Accept-Ranges: [<a href="http://www.iana.org/go/rfc7233">RFC7233, Section 2.3</a>]
- [ ] Age: [<a href="http://www.iana.org/go/rfc7234">RFC7234, Section 5.1</a>]
- [x] Allow: [<a href="http://www.iana.org/go/rfc7231">RFC7231, Section 7.4.1</a>]
- [ ] ALPN: [<a href="http://www.iana.org/go/rfc7639">RFC7639, Section 2</a>]
- [ ] Alt-Svc: [<a href="http://www.iana.org/go/rfc7838">RFC7838</a>]
- [ ] Alt-Used: [<a href="http://www.iana.org/go/rfc7838">RFC7838</a>]
- [ ] Authentication-Info: [<a href="http://www.iana.org/go/rfc7615">RFC7615, Section 3</a>]
- [x] Authorization: [<a href="http://www.iana.org/go/rfc7235">RFC7235, Section 4.2</a>]
- [x] Cache-Control: [<a href="http://www.iana.org/go/rfc7234">RFC7234, Section 5.2</a>]
- [ ] CalDAV-Timezones: [<a href="http://www.iana.org/go/rfc7809">RFC7809, Section 7.1</a>]
- [x] Connection: [<a href="http://www.iana.org/go/rfc7230">RFC7230, Section 6.1</a>]
- [x] Content-Disposition: [<a href="http://www.iana.org/go/rfc6266">RFC6266</a>]
- [x] Content-Encoding: [<a href="http://www.iana.org/go/rfc7231">RFC7231, Section 3.1.2.2</a>]
- [x] Content-Language: [<a href="http://www.iana.org/go/rfc7231">RFC7231, Section 3.1.3.2</a>]
- [x] Content-Length: [<a href="http://www.iana.org/go/rfc7230">RFC7230, Section 3.3.2</a>]
- [x] Content-Location: [<a href="http://www.iana.org/go/rfc7231">RFC7231, Section 3.1.4.2</a>]
- [x] Content-Range: [<a href="http://www.iana.org/go/rfc7233">RFC7233, Section 4.2</a>]
- [x] Content-Type: [<a href="http://www.iana.org/go/rfc7231">RFC7231, Section 3.1.1.5</a>]
- [x] Cookie: [<a href="http://www.iana.org/go/rfc6265">RFC6265</a>]
- [ ] DASL: [<a href="http://www.iana.org/go/rfc5323">RFC5323</a>]
- [ ] DAV: [<a href="http://www.iana.org/go/rfc4918">RFC4918</a>]
- [x] Date: [<a href="http://www.iana.org/go/rfc7231">RFC7231, Section 7.1.1.2</a>]
- [ ] Depth: [<a href="http://www.iana.org/go/rfc4918">RFC4918</a>]
- [ ] Destination: [<a href="http://www.iana.org/go/rfc4918">RFC4918</a>]
- [x] ETag: [<a href="http://www.iana.org/go/rfc7232">RFC7232, Section 2.3</a>]
- [x] Expect: [<a href="http://www.iana.org/go/rfc7231">RFC7231, Section 5.1.1</a>]
- [x] Expires: [<a href="http://www.iana.org/go/rfc7234">RFC7234, Section 5.3</a>]
- [ ] Forwarded: [<a href="http://www.iana.org/go/rfc7239">RFC7239</a>]
- [x] From: [<a href="http://www.iana.org/go/rfc7231">RFC7231, Section 5.5.1</a>]
- [x] Host: [<a href="http://www.iana.org/go/rfc7230">RFC7230, Section 5.4</a>]
- [ ] HTTP2-Settings: [<a href="http://www.iana.org/go/rfc7540">RFC7540, Section 3.2.1</a>]
- [ ] If: [<a href="http://www.iana.org/go/rfc4918">RFC4918</a>]
- [x] If-Match: [<a href="http://www.iana.org/go/rfc7232">RFC7232, Section 3.1</a>]
- [x] If-Modified-Since: [<a href="http://www.iana.org/go/rfc7232">RFC7232, Section 3.3</a>]
- [x] If-None-Match: [<a href="http://www.iana.org/go/rfc7232">RFC7232, Section 3.2</a>]
- [x] If-Range: [<a href="http://www.iana.org/go/rfc7233">RFC7233, Section 3.2</a>]
- [ ] If-Schedule-Tag-Match: [<a href="http://www.iana.org/go/rfc6638">RFC6638</a>]
- [x] If-Unmodified-Since: [<a href="http://www.iana.org/go/rfc7232">RFC7232, Section 3.4</a>]
- [x] Last-Modified: [<a href="http://www.iana.org/go/rfc7232">RFC7232, Section 2.2</a>]
- [x] Location: [<a href="http://www.iana.org/go/rfc7231">RFC7231, Section 7.1.2</a>]
- [ ] Lock-Token: [<a href="http://www.iana.org/go/rfc4918">RFC4918</a>]
- [ ] Max-Forwards: [<a href="http://www.iana.org/go/rfc7231">RFC7231, Section 5.1.2</a>]
- [ ] MIME-Version: [<a href="http://www.iana.org/go/rfc7231">RFC7231, Appendix A.1</a>]
- [ ] Ordering-Type: [<a href="http://www.iana.org/go/rfc4229">RFC4229</a>]
- [x] Origin: [<a href="http://www.iana.org/go/rfc6454">RFC6454</a>]
- [ ] Overwrite: [<a href="http://www.iana.org/go/rfc4918">RFC4918</a>]
- [ ] Position: [<a href="http://www.iana.org/go/rfc4229">RFC4229</a>]
- [x] Pragma: [<a href="http://www.iana.org/go/rfc7234">RFC7234, Section 5.4</a>]
- [x] Prefer: [<a href="http://www.iana.org/go/rfc7240">RFC7240</a>]
- [x] Preference-Applied: [<a href="http://www.iana.org/go/rfc7240">RFC7240</a>]
- [ ] Proxy-Authenticate: [<a href="http://www.iana.org/go/rfc7235">RFC7235, Section 4.3</a>]
- [ ] Proxy-Authentication-Info: [<a href="http://www.iana.org/go/rfc7615">RFC7615, Section 4</a>]
- [ ] Proxy-Authorization: [<a href="http://www.iana.org/go/rfc7235">RFC7235, Section 4.4</a>]
- [ ] Public-Key-Pins: [<a href="http://www.iana.org/go/rfc7469">RFC7469</a>]
- [ ] Public-Key-Pins-Report-Only: [<a href="http://www.iana.org/go/rfc7469">RFC7469</a>]
- [x] Range: [<a href="http://www.iana.org/go/rfc7233">RFC7233, Section 3.1</a>]
- [x] Referer: [<a href="http://www.iana.org/go/rfc7231">RFC7231, Section 5.5.2</a>]
- [x] Retry-After: [<a href="http://www.iana.org/go/rfc7231">RFC7231, Section 7.1.3</a>]
- [ ] Schedule-Reply: [<a href="http://www.iana.org/go/rfc6638">RFC6638</a>]
- [ ] Schedule-Tag: [<a href="http://www.iana.org/go/rfc6638">RFC6638</a>]
- [ ] Sec-WebSocket-Accept: [<a href="http://www.iana.org/go/rfc6455">RFC6455</a>]
- [ ] Sec-WebSocket-Extensions: [<a href="http://www.iana.org/go/rfc6455">RFC6455</a>]
- [ ] Sec-WebSocket-Key: [<a href="http://www.iana.org/go/rfc6455">RFC6455</a>]
- [ ] Sec-WebSocket-Protocol: [<a href="http://www.iana.org/go/rfc6455">RFC6455</a>]
- [ ] Sec-WebSocket-Version: [<a href="http://www.iana.org/go/rfc6455">RFC6455</a>]
- [x] Server: [<a href="http://www.iana.org/go/rfc7231">RFC7231, Section 7.4.2</a>]
- [x] Set-Cookie: [<a href="http://www.iana.org/go/rfc6265">RFC6265</a>]
- [ ] SLUG: [<a href="http://www.iana.org/go/rfc5023">RFC5023</a>]
- [x] Strict-Transport-Security: [<a href="http://www.iana.org/go/rfc6797">RFC6797</a>]
- [ ] TE: [<a href="http://www.iana.org/go/rfc7230">RFC7230, Section 4.3</a>]
- [ ] Timeout: [<a href="http://www.iana.org/go/rfc4918">RFC4918</a>]
- [ ] Topic: [<a href="http://www.iana.org/go/rfc8030">RFC8030, Section 5.4</a>]
- [ ] Trailer: [<a href="http://www.iana.org/go/rfc7230">RFC7230, Section 4.4</a>]
- [x] Transfer-Encoding: [<a href="http://www.iana.org/go/rfc7230">RFC7230, Section 3.3.1</a>]
- [ ] TTL: [<a href="http://www.iana.org/go/rfc8030">RFC8030, Section 5.2</a>]
- [ ] Urgency: [<a href="http://www.iana.org/go/rfc8030">RFC8030, Section 5.3</a>]
- [x] Upgrade: [<a href="http://www.iana.org/go/rfc7230">RFC7230, Section 6.7</a>]
- [x] User-Agent: [<a href="http://www.iana.org/go/rfc7231">RFC7231, Section 5.5.3</a>]
- [x] Vary: [<a href="http://www.iana.org/go/rfc7231">RFC7231, Section 7.1.4</a>]
- [ ] Via: [<a href="http://www.iana.org/go/rfc7230">RFC7230, Section 5.7.1</a>]
- [ ] WWW-Authenticate: [<a href="http://www.iana.org/go/rfc7235">RFC7235, Section 4.1</a>]
- [x] Warning: [<a href="http://www.iana.org/go/rfc7234">RFC7234, Section 5.5</a>]

We have some other headers not in this list in our `headers::common` module:

- [x] Access-Control-* - classed as 'provisional' by IANA - not sure what this means, see #655
- [x] Last-Event-ID - not listed, see #723
- [x] Referer-Policy - not listed, see #850

I'm not sure what we want to do with these - whether we keep them, or move them to another module for clarity. This list will also have to be kept up to date. I copied the HTML and used multiple cursors to make it, but it could be a bit error prone. It's a start at least though!

I'm actually not too worried about what is in the IANA registry. People register all sorts of super specific headers there, but that doesn't mean that everyone actually uses them. 

For instance, the `Access-Control` headers are quite common for web apps, Whereas all the DAV related headers are likely used by very few (I had no idea there was so many).

So far, we've added the headers as people have needed them. If the header isn't that common, it's been recommended to make a separate crate.

Sounds reasonable. Perhaps it would be good to document the position somewhere of what headers make it into the library?